{% extends 'CidetsiBaseBundle:Crud:index.html.twig' %}

{% block preamble %}
    {{ parent() }}
    <p>Estos son los departamentos en la facultad de ciencias y tecnologia, para
    los que este sistema gestiona información.</p>
    {{ include(
        'CidetsiDepartamentosBundle:Departamento:Tasks/collection.html.twig') }}
{% endblock %}

{% block items %}
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">{{ entity.name }}</div>
        <div class="panel-body">
            <ul class="list-group">
        {% for carrera in entity.carreras %}
            {% if carrera.isEnabled %}
                {% for plan in carrera.planes %}
                    {% if plan.isEnabled %}
                        <li class="list-group-item"><a href="{{ path(
                            'carrera_read', { 'id': carrera.slug }) }}">
                            {{ carrera.name }} ({{ carrera.abbreviation }})</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="list-group-item">
                        <em>No existen planes de estudio registrados.</em></li>
                {% endfor %}
            {% endif %}
        {% else %}
            <li class="list-group-item">
                <em>No existen carreras registradas.</em></li>
        {% endfor %}
            </ul>
        {{ include(
            'CidetsiDepartamentosBundle:Departamento:Tasks/element.html.twig', {
                'view': true, 'edit': true, 'delete': true, 'admin': false
            }) }}
        </div>
    </div>
</div>
{% endblock %}

