{% extends 'CidetsiBaseBundle:Crud:index.html.twig' %}

{% block preamble %}
    {{ parent() }}
    <p>Estos son los departamentos en la facultad de ciencias y tecnologia, para
    los que este sistema gestiona información.</p>
    {{ include('CidetsiDepartamentosBundle:Departamento:Tasks/collection.html.twig') }}
{% endblock %}

{% block items %}
<ul class="list-group">
{% for carrera in entity.carreras %}
    <li class="list-group-item">
        <a href="{{ path('carrera_read', { 'id': carrera.id }) }}">{{ carrera.name }} ({{ carrera.abbreviation }})</a>
    {% for plan in carrera.planes %}
        <span class="badge pull-right">{{ plan.materias|length }}</span>
    {% endfor %}
    </li>
{% endfor %}
</ul>
{{ include('CidetsiDepartamentosBundle:Departamento:Tasks/element.html.twig', {
    'view': true, 'edit': true, 'delete': true
}) }}
{% endblock %}
