{% extends 'CidetsiBaseBundle:Crud:read.html.twig' %}

{% block body %}
<section>
    <div class="container">
        {{ include('CidetsiBaseBundle:Block:flashbag.html.twig') }}
        <h1>{{ entity.name }}</h1>
        <p class="lead">{{ entity.facultad }}</p>
        {{ include(
            'CidetsiDepartamentosBundle:Departamento:Tasks/element.html.twig', {
            'view': false,  'edit': true, 'delete': true, 'admin': true
        }) }}
        <br />
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab">Información</a></li>
            <li><a href="#courses" data-toggle="tab">Materias</a></li>
            <li><a href="#teachers" data-toggle="tab">Docentes</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                {{ include(
                    'CidetsiDepartamentosBundle:Departamento:_info.html.twig', {
                        'departamento': entity
                }) }}
            </div>
            <div class="tab-pane" id="courses">
                {{ include(
                    'CidetsiMateriasBundle:Materia:list.departamento.html.twig',
                        { 'departamento': entity
                }) }}
            </div>
            <div class="tab-pane" id="teachers">
                {{ include(
                    'CidetsiDocentesBundle:Docente:list.departamento.html.twig',
                        { 'departamento': entity
                }) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
