{% extends 'CidetsiBaseBundle:Crud:index.table.html.twig' %}

{% block preamble %}
    {{ parent() }}
    <p>Estas son las materias que posee la facultad de ciencias y
    tecnologia.</p>
    {{ include('CidetsiMateriasBundle:Materia:Tasks/collection.html.twig') }}
{% endblock %}

{% block headers %}
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Departamento</th>
        <th>&nbsp;</th>
    </tr>
{% endblock %}

{% block items %}
<tr>
    <td class="text-center">{{ entity.code }}</td>
    <td>{{ entity.name }}</td>
    <td>{{ entity.departamento.name }}</td>
    <td>&nbsp;<td>
</tr>
{% endblock %}
