{% extends 'CidetsiBaseBundle:Crud:index.table.html.twig' %}

{% block preamble %}
    {{ parent() }}
    <p>Estas son las materias que posee la facultad de ciencias y
    tecnologia.</p>
    {{ include('CidetsiMateriasBundle:Materia:Tasks/collection.html.twig') }}
{% endblock %}

{% block headers %}
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Departamento</th>
        <th>&nbsp;</th>
    </tr>
{% endblock %}

{% block items %}
<tr>
    <td class="text-center">{{ entity.code }}</td>
    <td>{{ entity.name }}</td>
    <td>{{ entity.departamento.name }}</td>
    <td class="text-center">
        <a href="{{ path('materia_read', {'id': entity.ident}) }}"
           alt="Ver" title="Ver">
           <span class="glyphicon glyphicon-search"></span></a>&nbsp;
        <a href="{{ path('materia_update_get', {'id': entity.ident}) }}"
           alt="Editar" title="Editar">
           <span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
        <a href="{{ path('materia_enabled_get', {'id': entity.ident}) }}"
           alt="Habilitar" title="Habilitar">
           <span class="glyphicon glyphicon-ok-circle"></span></a>&nbsp;
        <a href="{{ path('materia_disabled_get', {'id': entity.ident}) }}"
           alt="Deshabilitar" title="Deshabilitar">
           <span class="glyphicon glyphicon-ban-circle"></span></a>&nbsp;
        <a href="{{ path('materia_delete_get', {'id': entity.ident}) }}"
           alt="Eliminar" title="Eliminar">
           <span class="glyphicon glyphicon-remove"></span></a>
    </td>
</tr>
{% endblock %}
