<br />
<div class="btn-group btn-group-sm">
    <a href="" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Agregar</span>
    </a>
    <a href="{{ path('pdf_materias', {'id': departamento.ident })}}"
       class="btn btn-default">
       <span class="glyphicon glyphicon-print"></span>
       <span>Generar PDF</span>
    </a>
</div>
<br />
<br />
<table class="table table-condensed table-bordered">
    <tr class="active">
        <th>Nivel</th>
        <th>Código</th>
        <th>Materia</th>
        <th>Carrera</th>
        <th>&nbsp;</th>
    </tr>
{% for materia in materias %}
    {% set flag = true %}
    {% for malla in materia %}
    <tr>
        <td>{{ malla.level }}</td>
        <td>{{ malla.code }}</td>
        <td>{{ malla.name }}</td>
        <td>
        {% for carrera in malla.carrera %}
            {{ carrera }}<br/>
        {% endfor %}
        </td>
        {% if flag == true %}
            <td class="text-center" rowspan="{{ materia|length }}">
                <a href="{{ path('materia_read', {'id': malla.ident }) }}"> 
                    <span class="glyphicon glyphicon-file"></span>
                </a>
            </td>
            {% set flag = false %}
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="active"><td colspan="5"></td></tr>
{% endfor %}
</table>

