{% extends 'CidetsiBaseBundle:Crud:index.html.twig' %}

{% block preamble %}
    {{ parent() }}
    <p>Estas son las carreras que posee la facultad de ciencias y
    tecnologia.</p>
    {{ include('CidetsiDepartamentoBundle:Carrera:Tasks/collection.html.twig') }}
{% endblock %}

{% block items %}
<h3>Planes de estudio</h3>
<ul class="list-group">
{% for plan in entity.planes %}
    <h4>{{ plan.name }}</h4>
    <table class="table table-condensed">
    {% for materia in plan.materias %}
        <tr>
            <td>{{ materia.name }}</td>
            <td>{{ materia.code }}</td>
        </tr>
    {% endfor %}
    </table>
{% endfor %}
</ul>
{{ include('CidetsiDepartamentoBundle:Carrera:Tasks/element.html.twig', {
    'view': true, 'edit': true, 'delete': true
}) }}
{% endblock %}
