<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Apoyo administrativo{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon"
              href="{{ asset('/favicon.ico') }}" />
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset(
              '/bundles/cidetsibase/css/bootstrap/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset(
              '/bundles/cidetsibase/css/bootstrap/bootstrap-theme.css') }}" />
        {% endblock %}
        {% block scripts %}
        <script src="{{ asset(
                '/bundles/cidetsibase/js/jquery.min.js') }}"></script>
        <script src="{{ asset(
                '/bundles/cidetsibase/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset(
                '/bundles/cidetsibase/js/holder.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                {{ render(controller('CidetsiBaseBundle:Default:menu')) }}
            </div>
        </header>
        {% block breadcrumb %}{% endblock %}
        {% block body %}{% endblock %}
        <footer>
            <nav role="navigation">
                {{ render(controller('CidetsiBaseBundle:Default:footer')) }}
            </nav>
        </footer>
    </body>
</html>
