<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Apoyo administrativo{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('/bundles/cidetsibase/css/reset.css') }}" rel="stylesheet" />
        <link href="{{ asset('/bundles/cidetsibase/css/base.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block scripts %}
        <script src="{{ asset('/bundles/cidetsibase/js/base.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon"
              href="{{ asset('/favicon.ico') }}" />
    </head>
    <body>
        <header>
            <nav>
                {{ render(controller('CidetsiBaseBundle:Default:menu')) }}
            </nav>
            <nav>
                {{ render(controller('CidetsiBaseBundle:Default:toolbar')) }}
            </nav>
        </header>
        <div>{% block body %}{% endblock %}</div>
        <footer>
            <nav>
                {{ render(controller('CidetsiBaseBundle:Default:footer')) }}
            </nav>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
