{% extends '::base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ path(url_list) }}">{{ title_list }}</a></li>
    <li><a href="{{ path(url_element, {'id': entity.slug}) }}">
        {{ entity.label }}</a></li>
    <li><span>Edición</span></li>
</ol>
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <h1>{{ title_update }}</h1>
        {{ form(update_form) }}
    </div>
</section>
<script>
    $(document).ready(function(){$('input[type="text"]:first').focus()})
</script>
{% endblock %}

