<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        {% if view %}
            <a class="btn btn-primary"
               href="{{ path('departamento_read', {
                'id': entity.ident }) }}">Ver</a>
        {% endif %}
        {% if edit %}
            <a class="btn btn-default"
               href="{{ path('departamento_update_get', {
                'id': entity.ident }) }}">Editar</a>
        {% endif %}
        {% if delete %}
            <a class="btn btn-default"
               href="{{ path('departamento_delete_get', {
                'id': entity.ident }) }}">Eliminar</a>
        {% endif %}
    </div>
    <div class="btn-group">
        {% if admin %}
            <a class="btn btn-default"
               href="{{ path('departamento_create_carrera_get', {
                'id': entity.ident }) }}">Nueva Carrera</a>
            <a class="btn btn-default"
               href="{{ path('departamento_create_planestudio_get', {
                'id': entity.ident }) }}">Nuevo Plan de Estudio</a>
        {% endif %}
    </div>
</div>

