{% extends '::base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><span>Departamentos</span></li>
</ol>
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <h1>Departamentos</h1>
        <p>Estos son los departamentos en la facultad de ciencias y tecnologia,
        para los que este sistema gestiona información.</p>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="btn-group">
                    <a class="btn btn-default"
                       href="{{ path('departamento_new') }}">Agregar</a>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion">
        {% for entity in entities %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse{{ entity.id }}">
                            {{ entity.name }}
                        </a>
                    </h2>
                </div>
                <div id="collapse{{ entity.id }}"
                     class="panel-collapse collapse">
                    <div class="panel-body">
                        <h3>Carreras</h3>
                        {{ include('CidetsiDepartamentoBundle:Departamento:_list_carreras.html.twig') }}
                        <div class="btn-group">
                            <a class="btn btn-primary"
                               href="{{ path('departamento_show', {
                                'id': entity.id }) }}">Ver detalles</a>
                            <a class="btn btn-default"
                               href="{{ path('departamento_edit', {
                                'id': entity.id }) }}">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
