{% extends '::base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active"><a href="{{ path('departamento') }}">Departamentos</a></li>
    <li><a href="{{ path('departamento_new') }}">Crear nuevo</a></li>
</ol>
{% endblock %}

{% block body -%}
<section>
    <div class="container">
        <h1>{{ entity.name }}</h1>
        <div class="btn-group">
            <a class="btn btn-default"
               href="{{ path('departamento_edit', {
                'id': entity.id }) }}">Editar</a>
            {{ form(delete_form) }}
        </div>
    </div>
</section>
{% endblock %}
